name: 'Project: CI'
permissions:
  contents: read
on: 
  push:
    branches:
      - 'feature/**'
      - 'bugfix/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: CI Build
    uses: ./.github/workflows/shared-build.yml
    with:
      store-artifacts: false
      environment: CI